<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace
	通过namespace将mapper接口引入
-->
<mapper namespace="com.mr.mapper.ITestCmsSubjectMapper">
    <select id="quertTest" resultType="com.mr.entity.CmsSubject">
    select * from cms_subject
  </select>
</mapper>