<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.mapper.IReturnMapper">


    <select id="find" resultType="com.mr.entity.OmsOrderReturnApply" parameterType="com.mr.entity.OmsOrderReturnApply">
        select * from oms_order_return_apply
        limit #{totalPage},#{pageSize}
    </select>


    <delete id="deleteReturnOrder" parameterType="java.lang.Object" >
        delete from oms_order_return_apply where id in
        <foreach collection="array" item="s" separator="," open="(" close=")">
            #{s}
        </foreach>
    </delete>

    <select id="findById" resultType="com.mr.entity.OmsOrderReturnApply" parameterType="com.mr.entity.OmsOrderReturnApply">
        select * from oms_order_return_apply where id=#{id}
    </select>

    <select id="findTotalNum" resultType="int" parameterType="com.mr.entity.OmsOrderReturnApply" >
        select count(*) from oms_order_return_apply
    </select>

</mapper>